.donnutChart-container {
  width: 100%;
  height: 100%; /* Adjust height dynamically */
  border-radius: 16px;
  padding: 8px;

}

/* Style adjustments for responsiveness */
@media (max-width: 768px) {
  .donnutChart-container {
    padding: 4px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .donnutChart-container {
    padding: 2px; /* Further adjust for very small screens */
  }
}
