.login {
  position: relative;
  left: 80px;
  display: flex;
  justify-content: center;
  width: calc(100% - 80px);
  height: 100vh;
}

.blurred {
  filter: blur(5px); /* Apply blur effect */
  /* OR */
  opacity: 0.7; /* Reduce opacity */
  transition: filter 0.3s ease; /* Add transition for a smooth effect */
}
