<main>
  <div class="dashboard-container">
    <div class="dashboard-barChart dashboard-barChart--excellent-class" >
      <excellent-class-chart></excellent-class-chart>
    </div>
    <div class="dashboard-donutChart">
      <app-donnuts-emotions></app-donnuts-emotions>
    </div>
    <div class="dashboard-barChart dashboard-barChart--take-break">
      <app-take-abreak-chart></app-take-abreak-chart>
    </div>
    <div class="dashboard-barChart dashboard-barChart--sleep">
      <app-sleep-chart></app-sleep-chart>
    </div>
    <div class="dashboard-barChart dashboard-barChart--IDoNotGetIt">
      <app-ido-not-get-it-chart></app-ido-not-get-it-chart>
    </div>
  </div>
</main>
