main {
  display: grid;
  justify-content: center;
  width: 100%;
  height: auto;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 650px));
  grid-template-rows: repeat(5, minmax(100px, 350px));
  justify-content: center;
  gap: 20px;
}

.dashboard-barChart {
  padding: 0px 8px 8px 8px;
}

@media screen and (min-width: 670px) {
  .dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 650px));
    grid-template-rows: repeat(3, minmax(100px, 350px));
    justify-content: center;
    gap: 20px;
  }
}
