main {
  display: grid;
  align-items: center;
  position: relative;
  left: 80px;
  width: calc(100% - 80px);
  transition: var(--tran-05);

  height: 100vh;
}

main p {
  text-align: end;
}

.main-content.close {
  filter: blur(5px); /* Apply blur effect */
  /* OR */
  opacity: 0.7; /* Reduce opacity */
  transition: filter 0.3s ease; /* Add transition for a smooth effect */
}

.dashboard-container {
  --min-column-size: 22rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size, 100%)), 1fr)
  );
  place-content: center;
  grid-auto-rows: 20rem;

  /*grid-template-rows: repeat(5, minmax(100px, 350px));*/
  /*justify-content: center;*/
}

.dashboard-barChart {
  padding: 0px 8px 8px 8px;
}

@media screen and (min-width: 670px) {
  .main-content.close {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
  }
}
