main {
  display: grid;
  align-items: center;
  position: relative;
  left: 80px;
  width: calc(100% - 80px);
  height: 100vh;
  transition: var(--tran-05);
}

main p {
  text-align: end;
}

.main-content.close {
  filter: blur(5px); /* Apply blur effect */
  transition: filter 0.3s ease; /* Add transition for a smooth effect */
}

.dashboard-container {
  --min-column-size: 22rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  );
  place-content: center;
  grid-auto-rows: 20rem; /* Adjust as needed */
}

.dashboard-barChart {
  padding: 16px; /* Adjusted padding */
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3); /* Consistent shadow */
  border-radius: 16px; /* Consistent border-radius */
  background-color: #fff; /* Chart background */
}

@media screen and (min-width: 670px) {
  .main-content.close {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
  }
}
