
.grid-container {
  padding: 16px;
  display: grid;
  grid-template-rows: 4fr 1fr;
  row-gap: 16px;
  grid-template-columns: minmax(20.5rem,40rem);
  place-content: center;
  /* Estilos del bloque 'grid-container' */
}
