legend {
  margin-bottom: 12px;
}
.survey-container {
  display: grid;

  grid-template: repeat(4, minmax(120px, 140px)) / repeat(
      4,
      minmax(80px, 200px)
    );
  place-content: center;
  place-items: center;
}
.survey-container__questions {
  display: flex;
  flex-direction: column;
  place-items: center;
  grid-column: 1 / 5;
  grid-row: 3 / 4;

  border-radius: 12px;
  background-color: #f6f1f1;
  padding: 8px;
}
input[type="range"] {
  width: 100%; /* Ancho del slider */
  margin: 4px; /* Margen entre el slider y el output */
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px; /* Altura de la pista */
  border-radius: 5px; /* Redondear los bordes */
  background: #0e5879; /* Color de fondo */
}

input[type="range"]::-webkit-slider-thumb {
  width: 40px; /* Ancho del pulgar */
  height: 20px; /* Altura del pulgar */
  border-radius: 50%; /* Forma circular */
  background: white; /* Color de fondo */
  cursor: pointer; /* Cambiar el cursor a una mano */
  -webkit-appearance: none; /* Quitar el aspecto predeterminado */
}

.survey__engagement-buttons {
  display: grid;
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}

.gridContainer {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(120px, 140px));
  grid-template-rows: repeat(fit-content, minmax(120px, 160px));
  margin: 12px 0px;
  gap: 8px;
}

.survey__question__likert-scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likert__option {
  padding: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0e5879;
  color: white;
}
.survey__primary-button {
  place-self: center;
  align-self: center;
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  background-color: var(--main-accent_color);
  border-radius: 8px;
  width: 300px;
  border: none;
  color: var(--main-background);
  height: 50px;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: var(--main-accent_color);
}

button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.survey__question.hide {
  display: none;
}
