<header class="header">
  <img
    class="header__logo"
    src="../../assets/logos/main-logo.svg"
    loading="lazy"
    alt="Logo"
    routerLink="/student/home"
  />

  <p routerLink="/student/home" class="header__title">{{ name }}</p>

  <nav>
    <ul>
      <li (click)="toggleDropdown()">
        <img
          class="header__icon"
          src="../../assets/icons/Tres puntos.svg"
          loading="lazy"
          alt="Tres puntos"
        />
        <ul class="dropdown">
          <li>
            <student-dropdown-options
              (mouseleave)="toggleDropdown()"
              [isVisible]="showDropdown"
              [class.isVisible]="showDropdown"
              *ngIf="showDropdown"
              (optionSelected)="redirect($event)"
            ></student-dropdown-options>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
