.header {
  background: var(--main-primary-color, #173264);
  width: 100%;
  min-height: 66px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header li {
  display: inline-block;
  padding: 10px;
  position: relative;
}

.dropdown {
  position: absolute;
  right: 48px;
  width: 6rem;

  border-radius: 8px;
  display: none;
}

.header li .dropdown {
  display: block;
}

.header__title {
  color: var(--main-background, #333);
  font-family: var(--font-family);
  font-size: var(--titles-h2);
}

.isVisible {
  transition: va(--tran-05);
}
