<div class="header">
  <img
    class="nav__logo"
    src="../../assets/logos/engagement-ring-silhouette-svgrepo-com1.svg"
    loading="lazy"
    alt="logo"
  />
  <div class="nav__list">
    <ul>
      <li>
        <a href="#">{{ name }}</a>
      </li>
      <li>
        <a href="#proyecto"
          ><img
            class="nav__logo"
            src="../../assets/icons/notification-icon.svg"
            loading="lazy"
            alt="logo"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            class="nav__logo"
            src="../../assets/icons/Tres puntos.svg"
            loading="lazy"
            alt="logo"
        /></a>
      </li>
    </ul>
  </div>
</div>
