.header {
  background: var(--main-primary-color, #173264);
  padding: 1rem;
}

.header__nav {
  align-items: center;
  margin: 0 auto;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.header__title {
  color: var(--main-background, #FDF8F8);

  /* Titles/H2 */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 1.5rem */
}
