/* Estilos para el header */
header {
  background: var(--main-primary-color, #173264);
}

/* Estilos para la lista de navegación */
header nav ul {
  display: flex;
  align-items: center; /*Centra filas*/
  justify-content: space-between;/*Centra columnas*/
  list-style: none;
  height: 4.8125rem;
}

header nav .titles_h2 {
  text-decoration: none;
}

/* Estilos para las imágenes en la lista de navegación */
header nav img {
  margin: 16px;
}
