/* button-text.component.css */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.3125rem;
  border: none;
  border-radius: 0.9375rem;
  background: var(--main-accent-color, #f0f0f0);
  color: var(--info-text, #333);
  text-align: center;
  padding: 0rem 1rem;
  font-family: var(--font-family);
  font-size: var(--text-paragraph);
}

button.answered {
  background-color: var(--main-primary-color, #173264);
  color: #fff;
}

button.unanswered {
  background-color: #d9534f;
  color: #fff;
  border: 1px solid #d43f3a;
}
