/* New theme for login component */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.form-container__img {
  width: 100px;
  margin-bottom: 20px;
}
