<main>
  <section class="main-container">
    <!-- <div class="main-container__button">
      <button>
        <img src="../../../../../assets/icons/Cuestionario.svg" alt="" />
      </button>
      <p>Cuestionario <br>(Beta - En Desarrollo)</p>
    </div> -->
    <div class="main-container__button">
      <button (click)="sendPoll()">
        <img src="../../../../../assets/icons/EnviarCuestionario.svg" alt="" />
      </button>
      <p>Enviar Cuestionario</p>
    </div>
    <div class="main-container__button">
      <button (click)="closePoll()">
        <img src="../../../../../assets/icons/Finalizar.svg" alt="" />
      </button>
      <p>Finalizar Cuestionario</p>
    </div>
    <div class="main-container__button" routerLink="/dashboard/my-dashboard">
      <button>
        <img src="../../../../../assets/icons/semanal.svg" alt="" />
      </button>
      <p>Analiticas</p>
    </div>
    <div class="main-container__button" routerLink="/dashboard/my-realtime">
      <button>
        <img src="../../../../../assets/icons/RealTime.svg" alt="" />
      </button>
      <p>Comentarios y dudas</p>
    </div>
  </section>
</main>
