main {
  display: grid;
  width: 100%;
  min-width: 230px;
  height: calc(100vh - 80px);
  place-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  gap: 72px;
  max-width: 820px;
}

.main-container__button {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 215px;
}

.main-container__button p {
  text-align: center;
}

.main-container__button button {
  border: none;
  background-color: #fdf8f8;
}

.main-container__button button img {
  width: 120px;
  height: 120px;
}
