main {
  position: relative;
  left: 80px;
  display: grid;
  width: calc(100% - 80px);
  height: 100vh;
  transition: var(--tran-05);
  justify-content: center;
  align-items: center;
}

.main-content.close {
  filter: blur(5px); /* Apply blur effect */
  /* OR */
  opacity: 0.7; /* Reduce opacity */
  transition: filter 0.3s ease; /* Add transition for a smooth effect */
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  gap: 72px;
  max-width: 820px;
}

.main-container__button {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 215px;
  cursor: pointer;
  border-radius: 0.9375rem;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.main-container__button:active {
  transform: scale(0.96) translateY(-4px);
}

.main-container__button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main-container__button p {
  align-self: center;
  font-family: var(--font-family);
  font-size: var(--text-paragraph);
  color: var(--info-text, #333);
}

.main-container__button button {
  border: none;
  background-color: #fdf8f8;
}

.main-container__button button img {
  width: 110px;
  height: 110px;
}

.blurred {
  filter: blur(5px); /* Apply blur effect */
  /* OR */
  opacity: 0.7; /* Reduce opacity */
  transition: filter 0.3s ease; /* Add transition for a smooth effect */
}

@media screen and (min-width: 670px) {
  .main-content.close {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
  }
}
