.button {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr; /* Dos columnas: una para el icono y otra para el texto */
  align-items: center; /* Alinea el contenido verticalmente en el centro */

  width: 100%;
  height: 4.3125rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.9375rem;
  background: var(--main-accent-color, #f0f0f0);
  cursor: pointer;
}

button {
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:active > .button__icon {
  transform: scale(0.92) translateY(-4px);
  transition: all 0.1s ease-in-out;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button__icon {
  margin-right: 10px;

  /* adpatar la imagen aunque sea grande */

  /* Puedes ajustar el margen derecho según tus preferencias para la separación entre el icono y el texto */
}

.button__text {
  align-self: center; /* Alinea el texto en la esquina superior izquierda de su celda */
  font-family: var(--font-family);
  font-size: var(--text-paragraph);
  color: var(--info-text, #333);
}
.heart-icon.unfilled {
  fill: none;
}

.heart-icon.filled {
  fill: white;
}

.confirmation-message {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  position: absolute;
  left: calc(100% - 1.5rem);
  top: 0rem;
  padding: 0.5rem;
  border-radius: 100%;
  background-color: var(--main-primary-color, #173264);
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

  z-index: 10;
  color: white;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 0.5rem;
  }
  100% {
    top: 0;
  }
}
