<header>
  <img
    class="header__logo"
    src="../../../../assets/logos/engagement-ring-silhouette-svgrepo-com1.svg"
    loading="lazy"
    alt="logo"
  />
  <div class="header__nav-list">
    <ul>
      <li>
        <a href="./">Principal</a>
      </li>
      <li>
        <a href="./">Cuestionarios</a>
      </li>
      <li>
        <a href="./">Sesion</a>
      </li>
      <li>
        <a href="./">Resultados</a>
      </li>
    </ul>
  </div>
  <div class="header__info">
    <div class="header__info__title">
      <!-- <p>Nombre</p>
      <img src="" alt="flecha" /> -->
    </div>
    <div class="header__info__detail">
      <div class="total"><span>5</span></div>
      <img
        src="../../../../assets/icons/alumnos.png"
        alt="icono alumno"
        class="logo"
      />
    </div>
  </div>
</header>
