<main>
  <section class="main-container">
    <div class="main-container__button">
      <button>
        <img src="./../../../../assets/icons/Cuestionario.svg" alt="" />
      </button>
      <p>Cuestionario</p>
    </div>
    <div class="main-container__button">
      <button>
        <img src="./../../../../assets/icons/EnviarCuestionario.svg" alt="" />
      </button>
      <p>Enviar Cuestionario</p>
    </div>
    <div class="main-container__button">
      <button>
        <img src="./../../../../assets/icons/Finalizar.svg" alt="" />
      </button>
      <p>Finalizar Clase</p>
    </div>

    <div class="main-container__button">
      <button>
        <img src="./../../../../assets/icons/semanal.svg" alt="" />
      </button>
      <p>Tiempo Real</p>
    </div>
    <div class="main-container__button" routerLink="../Mydashboard">
      <button>
        <img src="./../../../../assets/icons/RealTime.svg" alt="" />
      </button>
      <p>Reall</p>
    </div>
  </section>
</main>
