.title-page {
  width: 100%;
  background: var(--main-accent-color, #F0F0F0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.8125rem; /* Este valor parece estar duplicado, deberías mantener uno solo */
  flex-shrink: 0;
}

.title-page__text {
  color: var(--info-text, #333);
  font-family: var(--font-family);
  font-size: var(--titles-h3);

}
