.dropdown-options {
  padding: 16px;
  color: var(--info-text, #333);
  background: white;
  border-radius: 8px;
  /* Titles/Link */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.dropdown-options_element {
  padding: 1rem 0;
  width: 4rem;
}
