<div class="login">
  <div class="form-container">
    <img src="" alt="" />
    <form [formGroup]="miFormulario" class="form" (ngSubmit)="save($event)">
      <input
        type="text"
        formControlName="userPin"
        placeholder="Tu pin de sala"
        class="input input-pin"
        [class.is-valid]="isPinValid"
        [class.is-invalid]="isPinInvalid"
      />
      <div class="messages" [class.active]="isPinInvalid">
        <p>
          <strong
            *ngIf="
              miFormulario.get('userPin')?.touched &&
              miFormulario.get('userPin')?.hasError('required')
            "
            >Campo Requerido</strong
          >
        </p>
        <p>
          <strong
            *ngIf="
              miFormulario.get('userPin')?.touched &&
              miFormulario.get('userPin')?.hasError('maxlength')
            "
            >maximo 5 caracteres</strong
          >
        </p>
      </div>
      <input
        type="text"
        formControlName="userName"
        placeholder="Nombre"
        class="input input-pin"
      />

      <button
        type="submit"
        [routerLink]="['/Home']"
        [disabled]="miFormulario.get('userPin')?.invalid"
        class="button primary-button"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>
