
.grid-container {
  padding: 16px;
  margin-top: 4rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* Estilos del bloque 'grid-container' */
}

.grid-container__image {
  align-self: center;
  justify-self: center;
  /* Estilos del elemento 'image' dentro de 'grid-container' */
}

.grid-container__message {
  align-self: center;
  justify-self: center;
  color: var(--info-text, #333);
  /* Titles/Quote */
  font-family: Inter;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 1.54375rem */
  /* Estilos del elemento 'message' dentro de 'grid-container' */
}
