<nav class="sidebar close" [class.close]="activeMenu">
  <header class="sidebar__content">
    <div class="image-text">
      <span class="image">
        <img
          src="../../../../../assets/logos/main-logo.svg"
          loading="lazy"
          alt="logo"
        />
      </span>
      <div class="text text-header">
        <span class="name"></span>
      </div>
      <i class="bx bx-chevron-right toggle" (click)="toggleMenu()"></i>
    </div>

    <!-- <div class="header__info">
      <div class="header__info__title"></div>
      <div class="header__info__detail">
        <div class="total"><span></span></div>
        <img
          src="../../../../../assets/icons/alumnos_icon.svg"
          alt="icono alumno"
          class="logo"
        />
      </div>
    </div> -->
  </header>
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li (click)="goHome()">
          <a
            ><i class="bx bx-home-alt icon"></i>
            <span class="text nav-text"> Principal </span>
          </a>
        </li>
        <li (click)="goComments()">
          <a>
            <i class="bx bx-comment-dots icon"></i>
            <span class="text nav-text"> Comentarios </span>
          </a>
        </li>
        <li (click)="goDashboard()">
          <a>
            <i class="bx bxs-dashboard icon"></i>
            <span class="text nav-text"> Dashboard </span>
          </a>
        </li>
        <li (click)="goRoom()">
          <a>
            <i class="bx bxs-log-in icon"></i>
            <span class="text nav-text">Sala</span>
          </a>
        </li>
        <li (click)="goPoll()">
          <a>
            <i class="bx bx-poll icon"></i>
            <span class="text nav-text">Encuestas</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="button-content">
      <li class="" (click)="logout()">
        <a>
          <i class="bx bxs-log-out icon"></i>
          <span class="text nav-text"> Logout </span>
        </a>
      </li>
    </div>
  </div>
</nav>
