header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  background: var(--main-primary-color, #173264);
  min-width: 240px;
}

.header__logo {
  margin: 0 8px;
}

.header__nav-list {
  display: none;
}

.header__nav-list ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 16px;
}

.header__nav-list li a {
  text-decoration: none;
  color: var(--main-background, #333);
  font-family: var(--font-family);
  font-size: var(--titles-h2);
}

.header__info__title {
  display: flex;
}

.header__info__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__info__detail img {
  width: 22px;
  height: 14px;
}

@media screen and (min-width: 670px) {
  .header__nav-list {
    display: inline-block;
  }
}
