<header>
  <img
    class="header__logo"
    src="../../../../../assets/logos/main-logo.svg"
    loading="lazy"
    alt="logo"
  />
  <div class="header__nav-list">
    <ul>
      <li>
        <a>Principal</a>
      </li>
      <li>
        <a>Cuestionarios</a>
      </li>
    </ul>
  </div>
  <div class="header__info">
    <div class="header__info__title"></div>
    <div class="header__info__detail">
      <div class="total"><span></span></div>
      <img
        src="../../../../../assets/icons/alumnos_icon.svg"
        alt="icono alumno"
        class="logo"
      />
    </div>
  </div>
</header>
