.multiple-option-question {
  display: grid;
  grid-row-gap: 2rem;
}

.multiple-option-question__label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  align-items: center;
  color: var(--info-text, #333);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
}

.multiple-option-question__input[type="checkbox"] {
  appearance: none;
  padding: 7px;
  background-color: var(--main-background, #0E5879);
  border-radius: 10%; /* Se puede dejar así si deseas un radio de 10% */
  border: 3px solid var(--main-secondary-color, #0E5879);
}

.multiple-option-question__input[type="checkbox"]:checked {
  background-color: var(--main-secondary-color, #0E5879);
}
