.grid-question {
  display: grid;

  justify-items: space-around;
  grid-row-gap: 30px;
  margin-bottom: 16px;
}

label {
  color: var(--info-text, #333);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  /* 1rem */
}

input[type=checkbox] {
  appearance: none;
  padding: 7px;
  background-color:  var(--main-background, #0E5879);
  border-radius: 10%;
  border: 3px solid var(--main-secondary-color, #0E5879);

}

input[type=radio]:checked {
  background-color: var(--main-secondary-color, #0E5879);
}
