.poll-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  width: 100%;

  padding-inline: 1rem;
  align-items: center; /* Center children horizontally */
}

.poll-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-block: 1rem;
  padding-block: 1rem;
  height: auto;
  overflow-y: auto;
}

.poll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;

  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #d4d4d4;
}

.poll__header, .poll__footer__option {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.poll__body {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.poll-container__button {
  border-radius: 8px;
  max-width: 320px;
  min-width: 220px;
  margin-block: 2rem;
  border: none;
  transition: background 0.3s ease-in, box-shadow 0.2s;
  height: 50px;
  background: linear-gradient(60deg, var( --main-third_color), #2575fc);
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.poll-container__button:hover {
  background: linear-gradient(60deg, #2575fc,var(--main-secondary_color));
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.poll-container__button:active {
  transform: scale(0.98);
}

.poll-container__button.is-enabled {
  background: var(--secondary-color, #007bff);
}

.poll__body__quesions {
  border-bottom: 1px solid #ccc; /* Separator line */
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.poll__footer__option {
  /* Your existing styles */
  margin-top: 1rem; /* Add space above the footer */
}

/* Centering the button */
.poll-container__button {
  margin: 2rem auto; /* Center button horizontally */
  /* Rest of your button styles */
}
/* Responsive adjustments */
@media screen and (max-width: 768px) {
  main {
    left: 0;
    width: 100%;
  }
}
