.poll-container {
  width: 100%;
  height: 80vh;
}

button {
  display: block;
  margin: 0 auto;
}

.poll-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 1.5rem;
  margin-block: 1rem;
  padding-block: 1rem;
  height: 32rem;
  overflow-y: auto;
}

.margin-inline {
  margin-inline: 1rem;
}

.poll {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-block: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--main-accent_color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.poll__header {
  text-align: center;
}

.poll__body {
}

.poll__footer__option {
  text-align: center;
}

.poll-container__button {
  border-radius: 8px;
  max-width: 320px;
  min-width: 220px;
  margin-block: 2rem;
  border: none;
  transition: background 0.2s ease-in, transform 0.2s ease-in-out;
  height: 50px;
}

.poll-container__button.is-enabled {
  background: var(--main-primary-color, #173264);
  color: var(--main-background);
  cursor: pointer;
}

.poll-container__button:active {
  transform: scale(0.96);
}
