<student-title-page [displayText]="'¿Cómo te sientes?'" />

<main class="main-container">
  <section class="grid-container">

    <student-button-icon-text class="boton fila1" [imageUrl]="'./../../../../assets/icons/comment-icon.svg'"
      [textButton]="'Comentario acerca de la clase'" [altImg]="'Button comment'" />

    <student-button-icon-text class="boton fila2-col1" [imageUrl]="'./../../../../assets/icons/take-break-icon.svg'"
      [textButton]="'Solicitar un descanso'" [altImg]="'Button get a break'" />

    <student-button-icon-text (click)="buttonActivitySleep()" [imageUrl]="'./../../../../assets/icons/sleep-icon.svg'"
      [textButton]="'Tengo Sueño'" [altImg]="'Botón tengo sueño'" class="boton fila2-col2 " />

    <student-button-icon-text class="boton fila3-col1" routerLink="../my-emotions"
      [imageUrl]="'./../../../../assets/icons/emotions-icon.svg'" [textButton]="'Expresar mis emociones'"
      [altImg]="'Button emotions'" />

    <student-button-icon-text (click)="buttonActivityExcelentClass()" class="boton fila3-col2"
      [imageUrl]="'./../../../../assets/icons/good-class-icon.svg'" [textButton]="'Excelente clase'"
      [altImg]="'Excelente clase'"
      />

    <student-button-icon-text (click)="buttonActivityIdontGetIt()" class="boton fila4"
      [imageUrl]="'./../../../../assets/icons/dontgetit-icon.svg'" [textButton]="'No entiendo'"
      [altImg]="'No entiendo'" />

  </section>
</main>
<student-footer class="footer-container" />
