<student-progress-bar
  class="progresbar progresbar--featured"
  [textButton]="'Nivel de participación de esta clase '"
  [imageUrl]="'./../../../../assets/icons/trophy_icon.svg'"
  [altImg]="'participation progressBar'"
></student-progress-bar>
<main class="main-container">
  <section class="grid-container">
    <student-button-icon-text
      class="boton fila1"
      [imageUrl]="'./../../../../assets/icons/take-break-icon.svg'"
      [textButton]="'Solicitar un descanso'"
      [altImg]="'Button get a break'"
    />

    <student-button-icon-text
      class="boton fila2"
      [imageUrl]="'./../../../../assets/icons/lost-continuity-icon.svg'"
      [textButton]="'Perdí el hilo de la clase'"
      [altImg]="'Button lost-continuity'"
    />

    <student-button-icon-text
      class="boton fila3-col3"
      routerLink="../my-emotions"
      [imageUrl]="'./../../../../assets/icons/emotions-icon.svg'"
      [textButton]="'Expresarme'"
      [altImg]="'Button emotions'"
    />

    <student-button-icon-text
      (click)="buttonActivitySleep()"
      [imageUrl]="'./../../../../assets/icons/sleep-icon.svg'"
      [textButton]="'Tengo Sueño'"
      [altImg]="'Botón tengo sueño'"
      class="boton fila3-col4"
    />

    <student-button-icon-text
      (click)="buttonActivityIdontGetIt()"
      class="boton fila4-col3"
      [imageUrl]="'./../../../../assets/icons/dontgetit-icon.svg'"
      [textButton]="'No entiendo'"
      [altImg]="'No entiendo'"
    />

    <student-button-icon-text
      (click)="buttonActivityIdontGetIt()"
      class="boton fila4-col4"
      [imageUrl]="'./../../../../assets/icons/good-class-icon.svg'"
      [textButton]="'Excelente clase'"
      [altImg]="'Excelente clase'"
    />
  </section>
</main>
<student-footer class="footer-container" />
