<app-header></app-header>
<student-title-page [displayText]="'¿Cómo te sientes ahora'"></student-title-page>
<main class="grid-container">
  <student-button-image-text [imageUrl]="'./../../../../assets/icons/emotions/happy-icon.svg'" [textButton]="'Me siento feliz ahora'"
    [altImg]="'feliz'" />
  <student-button-image-text [imageUrl]="'./../../../../assets/icons/emotions/sad-icon.svg'"  [textButton]="'Me siento triste ahora'"
    [altImg]="'Triste'" />
  <student-button-image-text [imageUrl]="'./../../../../assets/icons/emotions/surprised-icon.svg'"  [textButton]="'Me siento sorprendido ahora'"
    [altImg]="'Sorprendido'" />
  <student-button-image-text [imageUrl]="'./../../../../assets/icons/emotions/scary-icon.svg'"  [textButton]="'Siento miedo ahora'"
    [altImg]="'Miedo'" />
  <student-button-image-text [imageUrl]="'./../../../../assets/icons/emotions/angry-icon.svg'"  [textButton]="'Siento ira'"
    [altImg]="'Ira'" />
</main>

