<app-header></app-header>
<student-title-page [displayText]="'¿Cómo te sientes ahora'"></student-title-page>
<main class="grid-container">
  <student-button-icon-text [imageUrl]="'./../../../../assets/icons/emotions/happy-icon.svg'"
    [textButton]="'Me siento feliz ahora'" [altImg]="'feliz'" value="Emotion.HAPPY"
    (click)="onButtonClick(EMOTION.HAPPY)" routerLink="../home" />
  <student-button-icon-text [imageUrl]="'./../../../../assets/icons/emotions/sad-icon.svg'"
    [textButton]="'Me siento triste ahora'" [altImg]="'Triste'" value="Emotion.SAD" (click)="onButtonClick(EMOTION.SAD)"
    routerLink="../home" />
  <student-button-icon-text [imageUrl]="'./../../../../assets/icons/emotions/surprised-icon.svg'"
    [textButton]="'Me siento sorprendido ahora'" [altImg]="'Sorprendido'" value="Emotion.SURPRISED"
    (click)="onButtonClick(EMOTION.SURPRISED)" routerLink="../home" />
  <student-button-icon-text [imageUrl]="'./../../../../assets/icons/emotions/scary-icon.svg'"
    [textButton]="'Siento miedo ahora'" [altImg]="'Miedo'" value="Emotion.AFRAID"
    (click)="onButtonClick(EMOTION.AFRAID)" routerLink="../home" />
  <student-button-icon-text [imageUrl]="'./../../../../assets/icons/emotions/angry-icon.svg'"
    [textButton]="'Siento ira'" [altImg]="'Ira'" value="Emotion.ANGRY" (click)="onButtonClick(EMOTION.ANGRY)"
    routerLink="../home" />
</main>
