<div class="main">
  <div class="card card-one">
    <img
      src="../../assets/icons/social-icon.svg"
      loading="lazy"
      alt="iconos para medir el engagement"
    />
  </div>
  <div class="card card-two">
    <img
      src="../../assets/icons/emotions-icon.svg"
      loading="lazy"
      alt="iconos para medir el engagement"
    />
  </div>
  <div class="card card-three">
    <img
      src="../../assets/icons/textIcon.svg"
      loading="lazy"
      alt="iconos para medir el engagement"
    />
  </div>
  <div class="card card-four">
    <img
      src="../../assets/icons/sleep-icon.svg"
      loading="lazy"
      alt="iconos para medir el engagement"
    />
  </div>
  <div class="card card-five">
    <img
      src="../../assets/icons/like-icon.svg"
      loading="lazy"
      alt="iconos para medir el engagement"
    />
  </div>
  <div class="card card-six">
    <img
      src="../../assets/icons/raise_hand-icon.svg"
      loading="lazy"
      alt="iconos para medir el engagement"
    />
  </div>
</div>
