<student-title-page
  class="title-page"
  [displayText]="'Encuesta'"
></student-title-page>
<main class="main">
  <ng-container *ngIf="questionIndex < questions.length">
    <p class="question__title">{{ currentPollQuestion.question }}</p>
    <ng-container *ngIf="questionIndex === 0">
      <app-likert-question
        [question]="currentPollQuestion"
        [form]="surveyForm"
      ></app-likert-question>
    </ng-container>
    <ng-container *ngIf="questionIndex === 1">
      <!-- <app-single-option-question
        [question]="currentPollQuestion"
        [form]="surveyForm"
      ></app-single-option-question> -->
      <app-likert-question
        [question]="currentPollQuestion"
        [form]="surveyForm"
      ></app-likert-question>
    </ng-container>
    <ng-container *ngIf="questionIndex === 2">
      <!-- <app-multiple-option-question
        [question]="currentPollQuestion"
        [form]="surveyForm"
      ></app-multiple-option-question> -->
      <app-likert-question
        [question]="currentPollQuestion"
        [form]="surveyForm"
      ></app-likert-question>
    </ng-container>
  </ng-container>
</main>
<div class="footer-container footer-container--grid">
  <student-button-text
    [textButton]="buttonPrevious"
    (click)="previousQuestion()"
    [isButtonEnabled]="isPreviousButtonEnabled"
    [isAnswered]="isAnswered"
  />
  <student-button-text
    [textButton]="buttonNext"
    (click)="navigateToNext()"
    [isButtonEnabled]="isPreviousButtonEnabled"
    [isAnswered]="isAnswered"
  />
</div>
