<student-progress-bar
  class="progresbar progresbar--featured"
  [textButton]="'Nivel de participación de esta clase '"
  [imageUrl]="'./../../../../assets/icons/trophy_icon.svg'"
  [altImg]="'participation progressBar'"
></student-progress-bar>
<main class="main-container">
  <section class="grid-container">
    <student-button-icon-text
      class="boton fila1"
      [imageUrl]="'./../../../../assets/icons/comment-icon.svg'"
      [textButton]="'Comentario acerca de la clase'"
      [altImg]="'Button comment'"
      (click)="handlerButtonSendComment()"
    />
    <student-button-icon-text
      class="boton fila1-col2 ="
      routerLink="/student/my-poll"
      [imageUrl]="'./../../../../assets/icons/poll-icon.svg'"
      [textButton]="'Encuestas'"
      [altImg]="'Encuesta'"
      [buttonColor]="buttonColor"
      [isEnabledPoll]="isButtonDisabled"
      [class.disabled-button]="isButtonDisabled"
      [class.enable-button]="!isButtonDisabled"
    />
    <student-button-icon-text
      class="boton fila2-col1"
      [imageUrl]="'./../../../../assets/icons/take-break-icon.svg'"
      [textButton]="'Solicitar un descanso'"
      [altImg]="'Button get a break'"
      (click)="handlerButtonTakeBreak()"
    />

    <student-button-icon-text
      [imageUrl]="'./../../../../assets/icons/sleep-icon.svg'"
      [textButton]="'Tengo Sueño'"
      [altImg]="'Botón tengo sueño'"
      class="boton fila2-col2"
      (click)="handlerButtonSleep()"
    />

    <student-button-icon-text
      class="boton fila3-col1"
      [imageUrl]="'./../../../../assets/icons/emotions-icon.svg'"
      [textButton]="'Expresar mis emociones'"
      [altImg]="'Button emotions'"
      (click)="handlerButtonEmotions()"
    />

    <student-button-icon-text
      class="boton fila3-col2"
      [imageUrl]="'./../../../../assets/icons/good-class-icon.svg'"
      [textButton]="'Excelente clase'"
      [altImg]="'Excelente clase'"
      (click)="handlerButtonLoveClass()"
    />

    <student-button-icon-text
      class="boton fila4"
      [imageUrl]="'./../../../../assets/icons/dontgetit-icon.svg'"
      [textButton]="'No entiendo'"
      [altImg]="'No entiendo'"
      (click)="handlerButtonDonotGetIt()"
    />
  </section>
</main>
<student-footer class="footer-container" />
