.grid-container {
  display: grid;
  grid-template-rows: repeat(4, minmax(4.3125rem, 1fr));
  grid-template-columns: repeat(2, minmax(9.6875rem, 13rem));
  gap: 16px;
  margin: 16px;
  justify-content: center;
}

.boton.fila1-col1 {
  grid-row: 1;
  grid-column: 1;
}

.boton.fila1-col2 {
  grid-row: 1;
  grid-column: 2;
}

.boton.fila2-col1 {
  grid-row: 2;
  grid-column: 1;
}

.boton.fila2-col2 {
  grid-row: 2;
  grid-column: 2;
}

.boton.fila3-col1 {
  grid-row: 3;
  grid-column: 1;
}

.boton.fila3-col2 {
  grid-row: 3;
  grid-column: 2;
}

.boton.fila4 {
  grid-row: 4;
  grid-column: 1 / span 2;
}
.main-container {
  padding-top: calc(100vh - 95vh);
}

.disabled-button {
  opacity: 0.6; /* Puedes ajustar este valor para cambiar la opacidad */
  pointer-events: none; /* Opcional: desactiva los eventos del rat贸n sobre el bot贸n deshabilitado */
  transition: var(--tran-02);
}
.enable-button {
  pointer-events: visible; /* Opcional: desactiva los eventos del rat贸n sobre el bot贸n deshabilitado */
}
