<student-title-page
  class="title-page"
  [displayText]="'Encuesta'"
></student-title-page>
<main class="main">
  <ng-container *ngIf="questionIndex < questions.length">
    <p class="question__title">{{ currentQuestion.question }}</p>
    <ng-container *ngIf="currentQuestion.type === 'Likert'">
      <app-likert-question
        [question]="currentQuestion"
        [form]="surveyForm"
      ></app-likert-question>
    </ng-container>
    <ng-container *ngIf="currentQuestion.type === 'Single Option'">
      <app-single-option-question
        [question]="currentQuestion"
        [form]="surveyForm"
      ></app-single-option-question>
    </ng-container>
    <ng-container *ngIf="currentQuestion.type === 'Multiple Option'">
      <app-multiple-option-question
        [question]="currentQuestion"
        [form]="surveyForm"
      ></app-multiple-option-question>
    </ng-container>
  </ng-container>
</main>
<div class="footer-container footer-container--grid">
  <student-button-text
    [textButton]="buttonPrevious"
    (buttonClick)="previousQuestion()"
    [isButtonEnabled]="!isPreviousButtonEnabled"
  />
  <student-button-text [textButton]="buttonNext" (click)="navigateToNext()" />
</div>
