:root {
  --info-text: #333333;
  --info-notification: #d2070f;
  --main-primary_color: #173264;
  --main-secondary_color: #0e5879;
  --main-third_color: #19a7ce;
  --main-background: #fdf8f8;
  --main-accent_color: #f0f0f0;

  --font-family: "Inter", sans-serif;
  --titles-h1: 1.875rem;
  --titles-h2: 1.5rem;
  --titles-h3: 1.25rem;
  --titles-quote: 1.1875rem;
  --text-paragraph: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--titles-link);
  background-color: var(--main-background);
  min-height: 100vh;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-area {
  border: 1px solid var(--info-text, #333);
  background: var(--main-background, #fdf8f8);
  color: var(--info-text, #333);
  font-family: Inter;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 16px;
  /* Estilos del bloque 'text-area' */
  width: 100%;
  height: 100%;
}
