.form-container {
  display: grid;
  grid-template-rows: auto auto auto;
  place-content: center;
  place-items: center;
  max-width: 340px;
}

.form-container__main-form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--main-background);
}

.form-container__input {
  background-color: var(--main-background);
  max-width: 300px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  height: 50px;
  padding: 12px 14px;
  margin-bottom: 8px;
}

.form-container__input::placeholder {
  color: #cccccc;
  text-align: center;
}

.form-container__input.is-valid {
  border: 4px solid var(--main-background);
}

.form-container__input.is-invalid {
  border: 2px solid red;
}

.form-container__messages {
  opacity: 0;
  transition: all 0.5s ease-in;
}

.form-container__messages.active {
  opacity: 1;
}

.form-container__button {
  background: var(--main-primary-color, #173264);
  border-radius: 8px;
  width: 300px;
  border: none;
  color: var(--main-background);
  height: 50px;
}

.form-container__button.is-enabled {
  background-color: var(--main-primary_color);
}

.form-container__message {
  display: inline-block;
  margin-top: 24px;
  align-self: center; /* Centra verticalmente */
  text-align: center; /* Centra horizontalmente */
  font-family: var(--font-family);
  font-size: var(--text-paragraph);
  color: var( --main-primary_color, #333);
}

.form-container__message a{
  text-decoration: none;
  color: var(--main-primary_color, #333);

}
.form-container__messageRoomExist {




  font-family: var(--font-family);
  font-size: var(--text-paragraph);
  color: var( --main-primary_color, #333);
}
