<div class="form-container">
  <form [formGroup]="miFormulario" class="form-container__main-form" (ngSubmit)="loginRoom()">
    <input type="text" formControlName="userPin" placeholder="Tu pin de sala" class="form-container__input form-container__input--pin"
      [class.is-valid]="isPinValid" [class.is-invalid]="isPinInvalid" [ngClass]="{ 'is-invalid': isRoomInvalid }" />

    <div class="form-container__messages" [class.active]="isPinInvalid" *ngIf="isPinInvalid">
      <p>
        <strong *ngIf="miFormulario.get('userPin')?.touched && miFormulario.get('userPin')?.hasError('required')">Campo Requerido</strong>
      </p>
      <p>
        <strong *ngIf="miFormulario.get('userPin')?.touched && miFormulario.get('userPin')?.hasError('maxlength')">Máximo 5 caracteres</strong>
      </p>
    </div>

    <div class="form-container__messages form-container__messageRoomExist" [class.active]="isRoomInvalid">
      <p>
        <strong>Sala no existe.</strong>
      </p>
    </div>
    <button type="submit" class="form-container__button form-container__button--primary" [class.is-enabled]="isPinValid">
      Ingresar
    </button>
  </form>
  <p class="form-container__message">
    <!-- salto de linea -->

    También puedes ingresar <br>
    desde un computador en  <br>
    <a href="">{{baseUrl}}</a> <br>
    <a href="">Términos</a>|<a href="">Privacidad</a>

  </p>
</div>
